/* Custom CSS */
body {
  background-color: #f8f9fa; /* Light gray background color */
}

/* Add your custom styles here */
/* Rest of your CSS styles */

/* Style for profile photo */
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
